	 <div>
<h3 class="ml2">create a new account to manage your posts</h3>
</div>
  <br>
  <div class="container" style ="border-radius: 10px;">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class='author-container'>
					<tbody>
						<tr id="form-row">
							<form id="author-form" style="display: flex" class="form-btn">
								<td colspan="4">
									<input placeholder="enter your name" id="author-name" type="text" />
								</td>
								<td><button type="submit" class="btn btn book" id="submit-author">Create
										Author</button>
								</td>
							</form>
						</tr>
					</tbody>

					<br>
				</div>
				<div class="author-container" >
					<table class="table table-light">
						<thead>
						</thead>
						<tbody>
							<tr id="form-row">
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Custom Script -->
		<script src="/assets/js/author.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	