
  <h4 class="ml3">enter your name to manage your posts</h4>


  <br>
  <div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class='author-container'>
					<tbody>
						<tr id="form-row">
							<form id="author-form" style="display: flex" class="form-btn">
								<td colspan="4">
									<input placeholder="enter your name" id="author-name" type="text" />
								</td>
								<td><button type="submit" class="btn btn book" id="submit-author">Create
										Author</button>
								</td>
							</form>
						</tr>
					</tbody>

					<br>
				</div>
				<div class="author-container">
					<table class="table table-bordered">
						<thead>
							{{!-- <tr>
								<th>username</th>
								<th>posts</th>
								<th>see all posts</th>
								<th>new post</th>
								<th>delete author</th>
							</tr> --}}
						</thead>
						<tbody>
							<tr id="form-row">
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Custom Script -->
		<script src="/assets/js/author.js" type="text/javascript"></script>