<h1>VIREO</h1>

<!-- Blog Posts -->


<div class="container-sm container-md container-lg container-xl">
    <div class="row ">
        <div class="col-lg-4">
          <img class="img-fluid hover" src="assets/img/oregon.jpg" alt="#">
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Post Title</h5>
                    <div class="card-body">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae odio ab quidem voluptatem. Explicabo in nesciunt quibusdam eum temporibus fugit exercitationem quidem corrupti consequuntur illo, sequi, omnis eveniet maxime repudiandae!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Post Title</h5>
                    <div class="card-body">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae odio ab quidem voluptatem. Explicabo in nesciunt quibusdam eum temporibus fugit exercitationem quidem corrupti consequuntur illo, sequi, omnis eveniet maxime repudiandae!
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
          <img class="img-fluid hover" src="assets/img/oregon.jpg" alt="#">
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 blog-container">
      </div>
    </div>
</div>

  <!-- Custom Script -->
<script src="/assets/js/blog.js" type="text/javascript"></script>
