<div class="row" style ="margin:20px;">
  {{!-- animated text --}}
  <h1 class="ml4">
  <span class="letters letters-1">Ready</span>
  <span class="letters letters-2">Set</span>
  <span class="letters letters-3">Go!</span>
</h1>
  <div class="col-6 offset-3 table-dark container" style = "border-radius: 10px;">
    <form id="cms" style="margin-top:25px; padding: 10px;">
      <div class="mb-3">
        <label class="form-label" for="title">Title:</label>
        <input
          autocomplete="off"
          class="form-control"
          type="text"
          id="title"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Body:</label>
        <textarea
          autocomplete="off"
          class="form-control"
          id="body"
        ></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label" for="title">Image:</label>
        <input
          autocomplete="off"
          class="form-control"
          type="text"
          id="image"
        />
      </div>
      <div class="form-group">
							<label for="category">Select Author:</label>
							<select class="custom-select" id="author">
  						</select>
						</div>
      <div class="mb-3">
        <button type="submit" class="btn submit book">Add Post</button>
      </div>
    </form>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="/assets/js/cms.js" type="text/javascript"></script>

