<div class="card">
  <div class="card-body">
    <h5 class="card-title">Vireo</h5>
    <p class="card-text">Where are you going next?</p>
    <button class="btn btn-dark" id="countryName">Spain</button>
    <button class="btn btn-dark" id="countryName">France</button>
    <button class="btn btn-dark" id="countryName">United States</button>
    <button class="btn btn-dark" id="countryName">Russia</button>
    <button class="btn btn-dark" id="countryName">Mexico</button>
    <button class="btn btn-dark" id="countryName">Dominican Republic</button>
  </div>
</div>

<hr>

<div class="container-sm container-md container-lg container-xl" id="allEdges">
    <div class="row ">
        <div class="col-lg-4">
          <img class="img-fluid hover" src="/public/assets/img/oregon.jpg" alt="#">
          <img class="img-fluid hover" src="/public/assets/img/oregon.jpg" alt="#">
          <img class="img-fluid hover" src="/public/assets/img/oregon.jpg" alt="#">
        </div>
    <!-- travel restrictions -->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Travel Restrictions</h5>
                <div class="card-body">
                    (api results)
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Language: </h5>
                <div class="card-body">
                    (translated key phrases)
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Fun Fact</h5>
                <div class="card-body">
                    (fun facts)
                </div>
            </div>
        </div>
    </div>
    <!-- travel restrictions -->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Top 5 Sightseeing Spots</h5>
                <div class="card-body">
                    (spots)
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Top 5 Restaurants</h5>
                <div class="card-body">
                    (restaurants)
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Top 5 Museums</h5>
                <div class="card-body">
                    (museums)
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/countries.js"></script>
