<div class="card">
    <div class="card-body center">
        <h5 class="card-title logo"><img class="img-fluid hover" style="width:75px;" src="assets/img/vireo.png"
                alt="#">Vireo</h5>
        <h1 class="card-text">what's your next adventure?</h1>
         <h2 class="sentence card-text">I'm going to
            <div class="verticalFlip">
                <span class="rotatingText-adjective">Spain.</span>
                <span class="rotatingText-adjective">Mexico.</span>
                <span class="rotatingText-adjective">United States.</span>
                <span class="rotatingText-adjective">China.</span>
                <span class="rotatingText-adjective">Japan.</span>
            </div>
        </h2>

        <button class="btn btn-dark" id="countrySpa">Spain</button>
        <button class="btn btn-dark" id="countryFra">France</button>
        <button class="btn btn-dark" id="countryUS">United States</button>
        <button class="btn btn-dark" id="countryRus">Russia</button>
        <button class="btn btn-dark" id="countryMex">Mexico</button>
        <button class="btn btn-dark" id="countryDR">Dominican Republic</button>
       
    </div>
</div>

<hr>

<div class="container-sm container-md container-lg container-xl">
    <!-- Pictures -->
    <div class="row ">
        <div class="col-lg-4">
            <div id="bgCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#bgCarousel"  data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#bgCarousel"  data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Country info -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Travel Restrictions</h1>
                    <div class="card-body">
                        (api results)
                    </div>
                </div>
            </div>
             <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Currency</h1>
                    <div class="card-body">
                        (API currency)
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Language: </h1>
                    <div class="card-body">
                        (translated key phrases)
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Fun Fact</h1>
                    <div class="card-body">
                        (fun facts)
                    </div>
                </div>
            </div>
        </div>
        <!-- Top 5 lists -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Top 5 Sightseeing Spots</h1>
                    <div class="card-body">
                        (spots)
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Top 5 Restaurants</h1>
                    <div class="card-body">
                        (restaurants)
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Top 5 Museums</h1>
                    <div class="card-body">
                        (museums)
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

<div class="wrapper">
<button class="btn book">Book a Hotel</button>
<button class="btn book">Book a Ticket</button>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="assets/js/countries.js"></script>
